{% extends "admin/master/super_base.html" %}

{% block content %}

	<div class="su-main-content-style">
		<div class="container">
	    	<div class="row">
	    		<div class="col-sm-4">
	    			<div class='su-db-container'>
	    				<div class="su-db-top">Database</div>
	    				<div class="su-db-center">
	    					<div class="container">
	    						<div class="row">
	    							<div class="col-md-4" style="padding: 0; margin:0;">
	    								<table>
	    									<tr>
	    										<td><input type="radio" name="db_radio" onClick="javascript: superLaunchBuilder('blog', {{blogs}});" id='s_blog'></td>
	    										<td><label id='s_db_label_blog'>Blogs</label></td>
	    									</tr>
	    								</table>
	    							</div>
	    							<div class="col-md-4" style="padding: 0; margin:0;">
	    								<table>
	    									<tr>
	    										<td><input type="radio" name="db_radio" onClick="javascript: superLaunchBuilder('product', {{products}});" id='s_product'></td>
	    										<td><label id='s_db_label_product'>Products</label></td>
	    									</tr>
	    								</table>
	    							</div>
	    							<div class="col-md-4" style="padding: 0; margin:0;">
	    								<table>
	    									<tr>
	    										<td><input type="radio" name="db_radio" onClick="javascript: superLaunchBuilder('image', {{images}});" id='s_image'></td>
	    										<td><label id='s_db_label_image'>Images</label></td>
	    									</tr>
	    								</table>
	    							</div>
	    						</div>
	    					</div>
	    				</div>

	    				<div class="su-db-bottom">
	    					<div class="su-sub-top">
	    						<span id="model-del2"><button id="modelPlusBtn" onClick="javascript: fetchModelType('0');"><i class="fas fa-plus"></i></button></span>
	    						<span id='model-del1' class='su-btn-disabled'><button disabled id='modelDelBtn' onClick="javascript: fetchModelType('1');"><i class="fas fa-minus"></i></button></span>
	    					</div>
	    					<div class="su-sub-bottom-list">
		    					<ul id='db-builder'></ul>
	    					</div>
	    					<div class='su-sub-footer' id="mst_sel_btn_1">
	    						<button onClick="javascript: selectAllModels();">Select All</button>
	    						<button onClick="javascript: clearAllModels();">Clear All</button>
	    					</div>
	    				</div>
	    			</div>
	    		</div>

	    		<div class="col-sm-4">
	    			<div class='su-db-container'>
	    				<div class="su-db-top">Users</div>
	    				<div class="su-db-center">
	    					<div class="container">
	    						<div class="row">
	    							<div class="col-md-4" style="padding: 0; margin:0;">
	    								<table>
	    									<tr>
	    										<td><input type="radio" name="user_radio" onClick="javascript: superUserLaunch('user', {{users}});" id='s_user'></td>
	    										<td><label id='s_usr_label_users'>Profiles</label></td>
	    									</tr>
	    								</table>
	    							</div>
	    							<div class="col-md-4" style="padding: 0; margin:0;">
	    								<table>
	    									<tr>
	    										<td><input type="radio" name="user_radio" onClick="javascript: superUserLaunch('auth', {{auths}});" id='s_auth'></td>
	    										<td><label id='s_usr_label_auths'>Pending</label></td>
	    									</tr>
	    								</table>
	    							</div>
	    							<div class="col-md-4" style="padding: 0; margin:0;">
	    								<table>
	    									<tr>
	    										<td><input type="radio" name="user_radio" onClick="javascript: superUserLaunch('question', {{questions}});" id='s_security'></td>
	    										<td><label id='s_usr_label_quest'>Security</label></td>
	    									</tr>
	    								</table>
	    							</div>
	    						</div>
	    					</div>
	    				</div>
	    				<div class="su-db-bottom">
	    					<div class="su-sub-top">
	    						<span id="user-del2"><button id="userPlusBtn" onClick="javascript: fetchUserType('0');"><i class="fas fa-plus"></i></button></span>
	    						<span id='user-del1' class='su-btn-disabled'><button disabled id='ursDelBtn' onClick="javascript: fetchUserType('1');"><i class="fas fa-minus"></i></button></span>
	    					</div>
	    					<div class="su-sub-bottom-list">
	    						<ul id='usr-builder'></ul>
	    					</div>
	    					<div class='su-sub-footer' id="mst_sel_btn_2">
	    						<button onClick="javascript: selectAllUsers();">Select All</button>
	    						<button onClick="javascript: clearAllUsers();">Clear All</button>
	    					</div>
	    				</div>
	    			</div>
	    		</div>

	    		<div class="col-sm-4">
	    			<div class='su-db-container'>
	    				<div class="su-db-top">Administration</div>
	    				<div class="su-db-center">
	    					<div class="container">
	    						<div class="row">
	    							<div class="col-md-4" style="padding: 0; margin:0;">
	    								<table>
	    									<tr>
	    										<td><input type="radio" name="admin_radio" onClick="javascript: superAdminLaunch('contact', {{company}});" id="s_admin_multi_1"></td>
	    										<td><label id='s_admin_label_contact'>Contact</label></td>
	    									</tr>
	    								</table>
	    							</div>
	    							<div class="col-md-4" style="padding: 0; margin:0;">
	    								<table>
	    									<tr>
	    										<td><input type="radio" name="admin_radio" onClick="javascript: superAdminLaunch('method', {{payments}});" id='s_payment'></td>
	    										<td><label id='s_admin_label_payment'>Payments</label></td>
	    									</tr>
	    								</table>
	    							</div>
	    							<div class="col-md-4" style="padding: 0; margin:0;">
	    								<table>
	    									<tr>
	    										<td><input type="radio" name="admin_radio" onClick="javascript: superAdminLaunch('links', {{company}});" id="s_admin_multi_2"></td>
	    										<td><label id='s_admin_label_links'>Links/Gallery</label></td>
	    									</tr>
	    								</table>
	    							</div>
	    						</div>
	    					</div>
	    				</div>
	    				<div class="su-db-bottom">
	    					<div class="su-sub-top" id='master_admin_lockout'>
	    						<button id='adminAddBtn' onClick="javascript: launchAdminEditors('payment', '0');"><i class="fas fa-plus"></i></button>
	    						<span id='admin-del1'><button id='adminDelBtn' onClick="javascript: launchDeleteConfirmation('payment');"><i class="fas fa-minus"></i></button></span>
	    					</div>
		    				<div class='su-sub-bottom' id='administration-builder'></div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>

{% endblock %}