
{% extends "admin/master/emptyBase.html" %}

{% block content %}

<style type="text/css">

.questionsH {
	width: 100%;
	text-align: center;
	font-size: 60px;
	font-family: 'Lovers Quarrel', cursive;
	line-height: 1;
	text-transform: lowercase;
	color: #dfdbbc;
	text-shadow: 2px 1px #222222;
	margin-top: 6%;
}

.questionsH span {
	font-size: 20px;
	font-family: 'Fira Sans Condensed', sans-serif;
	text-transform: none;
	color: #eeeeee;
	text-shadow: 1px 1px #222222;
}

.q_container {
	width: 45%;
	margin: auto;
	border: 1px solid #cccccc;
	border-radius: 6px;
	padding: 1%;
	box-shadow: 4px 4px 4px #444444;
	background: linear-gradient(to right, rgba(140, 140, 140, 0.8)0%, rgba(190, 190, 190, 0.8)50%, rgba(140, 140, 140, 0.8)100%);
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 12px;
}

.q_container input {
	border-top: 2px solid #777777;
    border-left: 2px solid #777777;
    border-right: 2px solid #cccccc;
    border-bottom: 2px solid #999999;
}

.q_container select {
	width: 100%;
	margin-bottom: 5px;
	border-top: 2px solid #777777;
    border-left: 2px solid #777777;
    border-right: 2px solid #cccccc;
    border-bottom: 2px solid #999999;
}

.q_container h3 {
	text-align: left;
	font-size: 20px;
	text-shadow: none;
	color: #555555;
	text-transform: none;
	border-bottom: 1px solid #777777;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

.q_container h5 {
	text-transform: none;
	text-align: left;
	color: #383e03;
	font-size: 13px;
	text-shadow: none;
	padding: 0;
	margin: 0;
	font-weight: 600;
	margin-bottom: 5px;
	font-style: italic;
}

.q_container ::placeholder {
	color: #999999;
	font-style: italic;
}

.q_container input[type="text"]
{
	padding-top: 2px;
	padding-bottom: 2px;
}

.q_container_btns {
	text-align: right;
}

.q_container button {
	width: 20%;
	margin-left: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.q_space {
	height: 20px;
}

.su-closer-reg {
	text-align: right;
	font-size: 16px;
	margin-bottom: -10px;
	margin-top: -5px;
}

</style>

<script type="text/javascript">
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
// DO NOT INCLUDE THESSE FUNCTIONS .... THEY ARE DUPLICATES

function generateErrorWindow(messages)
{
    html = "";
    html += "<div class='su-center su-width30'>";
    html += "<div class='su-general'>";
    html += "<div class='su-closer'><a href=\"javascript: closeError();\"><i class='fas fa-window-close su-err'></i></a></div>";
    html += "<div class='su-error-header su-neg25'><i class='fas fa-exclamation-triangle'></i> <span id='su-error-header'>Error</span></div>";
    html += "<div class='err0' id='err0'>" + messages[0] + "</div>";
    html += "<div class='err1' id='err1'>" + messages[1] + "</div>";
    html += "</div>";
    html += "</div>";
    $("#su-editor-builder").html(html);
    $("#su-editor-builder").hide();
    $("#su-editor-builder").removeClass('hidden');
    $("#su-editor-builder").fadeIn(600);
}

function closeError()
{
    $("#su-editor-builder").fadeOut(600);
}

//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////





function validateRegistration()
{
	var sq1 		= $("#sq1").val();
	var sq2 		= $("#sq2").val();
	var an1 		= $("#answer1").val();
	var an2 		= $("#answer2").val();
	var has_error 	= false;
	var m 			= [];
	if (sq1 === sq2)
	{
		has_error = true;
		m.push("Duplicate Detected");
		m.push("You cannot select the same question");
	}
	else if (an1.length === 0)
	{
		has_error = true;
		m.push("Empty Field Detected");
		m.push("You must provide an answer to security question 1 to proceed");
	}
	else if (an2.length === 0)
	{
		has_error = true;
		m.push("Empty Field Detected");
		m.push("You must provide an answer to security question 2 to proceed");
	}
	if (has_error === true) { generateErrorWindow(m); }
	else { alert("Submitting Form...") }
}

function checkRegistrationFields()
{
	html = "";
    html += "<div class='su-center su-width30'>";
    html += "<div class='su-general'>";
    html += "<div class='su-closer-reg'><a href=\"javascript: closeError();\"><i class='fas fa-window-close su-err'></i></a></div>";
    html += "<div class='su-error-header'><i class='fas fa-exclamation-triangle'></i> <span id='su-error-header'>Message</span></div>";
    html += "<div class='err0' id='err0'>Are You Sure You Want To Logout?</div>";
    html += "<div class='err1' id='err1'>You have not completed registration and will be redirected to this page each time you login to the administration site</div>";
    html += "<div class='su-error-btns'>";
    html += "<button onClick=\"javascript: logout();\">Continue Logout</button>";
    html += "<button onClick=\"javascript: closeError();\">Complete Registration</button>";
    html += "</div>";
    html += "</div>";
    html += "</div>";
    $("#su-editor-builder").html(html);
    $("#su-editor-builder").hide();
    $("#su-editor-builder").removeClass('hidden');
    $("#su-editor-builder").fadeIn(600);
}
</script>

<div class='su-about-errors hidden' id='su-editor-builder'></div>

<div class="questionsH">
	<div>
		<div>Welcome to naturalwomansalon.com</div>
		<span>Please complete your registration to continue</span>
	</div>
	<div class="q_container">
		<form action="/adminAlta" method="POST" id="security_form">
			<input type="hidden" name="target_model" value="registration">
			<h3>Please select security questions from the lists below</h3>
			<h5>Security Question 1:</h5>
			<select id='sq1'>
				{% for q in questions %}
				<option value="{{q.question}}">{{q.question}}</option>
				{% endfor %}
			</select>
			<input type="text" name="answer1" id="answer1" placeholder="Security Answer 1">
			<div class='q_space'></div>

			<h5>Security Question 2:</h5>
			<select id="sq2">
				{% for q in questions %}
				<option value="{{q.question}}">{{q.question}}</option>
				{% endfor %}
			</select>
			<input type="text" name="answer2" id="answer2" placeholder="Security Answer 2">
			<div class='q_space'></div>

			<div class="q_container_btns">
				<button type="button" onClick="javascript: validateRegistration()">Submit</button>
				<button type="button" onClick="javascript: checkRegistrationFields();">Sign Out</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}