
{% extends "admin/master/emptyBase.html" %}
{% block content %}
<div class='su-about-errors hidden' id='su-editor-builder'></div>
<div class="questionsH">
	<div>
		<div>Welcome to naturalwomansalon.com</div>
		<span>Please complete your registration to continue</span>
	</div>
	<div class="q_container">
		<form action="/adminAlta" method="POST" id="security_form">
			<input type="hidden" name="target_model" value="registration">
			<input type="hidden" name="sq1" id="question1" value="">
			<input type="hidden" name="sq2" id="question2" value="">
			<h3>Please select security questions from the lists below</h3>
			<h5>Security Question 1:</h5>
			<select id='sq1'>
				{% for q in questions %}
				<option value="{{q.question}}">{{q.question}}</option>
				{% endfor %}
			</select>
			<input type="text" name="answer1" id="answer1" placeholder="Security Answer 1">
			<div class='q_space'></div>

			<h5>Security Question 2:</h5>
			<select id="sq2">
				{% for q in questions %}
				<option value="{{q.question}}">{{q.question}}</option>
				{% endfor %}
			</select>
			<input type="text" name="answer2" id="answer2" placeholder="Security Answer 2">
			<div class='q_space'></div>

			<div class="q_container_btns">
				<button type="button" onClick="javascript: validateRegistration()">Submit</button>
				<button type="button" onClick="javascript: checkRegistrationFields();">Sign Out</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}