{% extends "admin/master/emptyBase.html" %}
{% block content %}
<div class='su-pop-container hidden' id='recover-space'></div>
<div class='su-about-errors hidden' id='su-editor-builder'></div>
<div class='su-content-wrap'>
    <div class='su-login-wrap su-center'>
        <h6>Password Reset</h6>
        <form action='/recoverySuccess' method="POST" id='su_login_form'>
            <input type="hidden" name="u_id" value="{{user.id}}">
            <input type="email" name="email" id='email' placeholder="Confirm your email address...">
            <input type="password" name="password1" id='password1' placeholder="Enter your new password">
            <input type="password" name="password2" id='password2' placeholder="Confirm your new password">
            <input type="text" name="code" id="code" placeholder="Security Code">
            <div class="su-dbl-buttons">
                <button type="button" onClick="javascript: confirmAndValidateNewPassword();">Submit</button>
                <button type="button" onClick="javascript: returnToLogin();">Cancel</button>
                </div>
         </form>
    </div>
</div>
{% endblock %}







