{% extends "admin/base2.html" %}

{% block content %}

<!--<div class="admin-content-wrapper">
	<div class="v-split-top">
		<div class="admin-h-split">
		</div>

		<div class="admin-h-split" id="ab1">
			<div class="admin-item">
				<div class="admin-h">New Blog Post<br><span>empty</span></div>
			</div>
		</div>

		<div class="admin-h-split">
			<div class="admin-item" id="ab2">
				<div class="admin-h">Manage Blogs<br><span>empty</span></div>
			</div>
		</div>

		<div class="admin-h-split">
			<div class="admin-item" id="ab3">
				<div class="admin-h">Manage Products<br><span>empty</span></div>

			</div>
		</div>

		<div class="admin-h-split" id="ab4">
			<div class="admin-item">
				<div class="admin-h">Manage Gallery<br>Images</div>
			</div>
		</div>

		<div class="admin-h-split">
		</div>
	</div>

	<div class="v-split-bottom">
		<div class="admin-h-split">
		</div>

		<div class="admin-h-split">
			<div class="admin-item"  id="ab5">
				<div class="admin-h">About Statement<br><span>empty</span></div>
			</div>
		</div>

		<div class="admin-h-split">
			<div class="admin-item" id="ab6">
				<div class="admin-h">Company Profile<br><span>empty</span></div>
			</div>
		</div>

		<div class="admin-h-split">
			<div class="admin-item" id="ab7">
				<div class="admin-h">User Management<br><span>empty</span></div>

			</div>
		</div>

		<div class="admin-h-split">
			<div class="admin-item" id="ab8">
				<div class="admin-h">Authorize New User<br><span>empty</span></div>
			</div>
		</div>

		<div class="admin-h-split">
		</div>
	</div>
</div> -->

{# <body style="text-align:center">
	<h1>You have successfully logged in...</h1>

	<h1>{{user.fname}} {{user.lname}}</h1>
	<h4>{{user.email}}</h4>

	<br><br>

	<a href="/logout">Logout</a>
</body> #}

{% endblock %}